In [1]:
import pandas as pd
import tldextract
from sqlalchemy import create_engine
import pickle
import networkx as nx
%matplotlib notebook
import matplotlib.pyplot as plt
import matplotlib
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, precision_score, recall_score
import numpy as np
from sklearn.utils.multiclass import unique_labels
from Model.Model import Model
from Model.MLModel import MLModel
from Model.SnaModel import SnaModel
from Model.MarkovChain import MarkovChain

ModuleNotFoundError: No module named 'Model.MarkovChain'

In [8]:
query_string = '''
    SELECT *
    FROM domains
    WHERE base_domain NOT IN ('000webhostapp.com', 'azurewebsites.net', 'duckdns.org')
    LIMIT 1000
'''

engine = create_engine('postgresql://postgres:mypassword@localhost:5432/')
X = pd.read_sql_query(query_string, engine)
X.head(1)

,domain,label,timestamp,base_domain,domain_name,domain_ip,as_number,as_subnet,as_name,nameserver,ns_base_domain,ns_domain_ip,ns_as_number,ns_as_subnet,ns_as_name,markovmodel,snamodel,mlmodel_xgbclassifier,mlmodel_logisticregression
0,bestatigung-der-kreditkartenzahlung.com,1,2019-09-06 14:05:05.919836,bestatigung-der-kreditkartenzahlung.com,bestatigung-der-kreditkartenzahlung,162.241.203.240,26337,162.241.203.0/24,"OIS1 - Oso Grande IP Services, LLC, US",ns71.hostgator.mx,hostgator.mx,162.241.203.239,26337,162.241.203.0/24,"OIS1 - Oso Grande IP Services, LLC, US",None,None,None,None

In [10]:
df = pd.DataFrame.from_dict([{'a': 1, 'b': 2}, {'a': 10, 'b': 20}])

In [11]:
df

    a   b
0   1   2
1  10  20

In [25]:
zeros_df = pd.DataFrame(0, index=df.index, columns=list(df.columns))

In [29]:
zeros_df['c'] = [0] *2
zeros_df['d'] = [0] *2
zeros_df['e'] = [0] *2
zeros_df['f'] = [0] *2
zeros_df['g'] = [0] *2
zeros_df['h'] = [0] *2
zeros_df['i'] = [0] *2

In [60]:
%%time
zeros_df.add(df, fill_value=0)

CPU times: user 15.6 ms, sys: 0 ns, total: 15.6 ms
Wall time: 28 ms

    a   b    c    d    e    f    g    h    i
0   1   2  0.0  0.0  0.0  0.0  0.0  0.0  0.0
1  10  20  0.0  0.0  0.0  0.0  0.0  0.0  0.0

In [93]:
%%time
add_df = zeros_df + df
add_df.fillna(0)

CPU times: user 15.6 ms, sys: 0 ns, total: 15.6 ms
Wall time: 9.19 ms

    a   b    c    d    e    f    g    h    i
0   1   2  0.0  0.0  0.0  0.0  0.0  0.0  0.0
1  10  20  0.0  0.0  0.0  0.0  0.0  0.0  0.0

In [20]:
set(df.columns)

{'a', 'b'}

In [24]:
set([1,2,3]) - set([2,3,4,5])

{1}

In [43]:
pkl_path = '../25K25K.pkl'
agg_model = None
with open(pkl_path, 'rb') as f:
    agg_model = pickle.load(f)

ModuleNotFoundError: No module named 'Model'

In [30]:
%ls ../

10K10K.pkl            algorithms/            nohup.out
1K1K.pkl              asndb-app/             old_collect_and_enrich.py
AggragatorModel.dot   classes.dot            packages.dot
AlexaDataSource.dot   classes_edited.dot     plot_classifier_comparison.ipynb
DataSource.dot        common.py              plot_confusion_matrix.ipynb
DataSource.py         data_collection/       predict.csv
FeatureExtraction.py  database_connector.py  pyasn_util_asnames.py
MLModel.dot           enrich/                queries.sql
Model/                enrich_domain.py       requirements.txt
Model.dot             fetch_feeds.py         resources/
README.md             init_ubuntu_env.sh*    test.csv
SnaModel.dot          ip-asn-service/        test.py
__pycache__/          model_manager.py       test_models.py

In [32]:
df = pd.read_csv('../predict.csv', sep='\t')

In [38]:
d1 = {'aaa': 0, 'bbb': 1}

In [39]:
d2 = df.to_dict(orient='records')[0]

In [40]:
{**d1, **d2}

{'aaa': 0,
 'bbb': 1,
 'MarkovModel': 0,
 'SnaModel': 0.578984,
 'MLModel_DecisionTreeClassifier': 0.272727}

In [16]:
X[(X['label'] == 1) & (X['domain_name'].str.contains('-'))]

,domain,label,timestamp,base_domain,domain_name,domain_ip,as_number,as_subnet,as_name,nameserver,ns_base_domain,ns_domain_ip,ns_as_number,ns_as_subnet,ns_as_name
0,bestatigung-der-kreditkartenzahlung.com,1,2019-09-06 14:05:05.919836,bestatigung-der-kreditkartenzahlung.com,bestatigung-der-kreditkartenzahlung,162.241.203.240,26337,162.241.203.0/24,"OIS1 - Oso Grande IP Services, LLC, US",ns71.hostgator.mx,hostgator.mx,162.241.203.239,26337,162.241.203.0/24,"OIS1 - Oso Grande IP Services, LLC, US"
9,secure-ibanking.dbs.com-logging.in,1,2019-09-06 14:05:10.906852,com-logging.in,com-logging,None,None,None,None,None,None,None,None,None,None
11,jppost-ro.co,1,2019-09-06 14:05:11.580423,jppost-ro.co,jppost-ro,193.148.69.12,44220,193.148.68.0/22,"PARFUMURI-FEMEI-AS, RO",ns2.bdydns.cn,bdydns.cn,14.215.177.154,58466,14.215.160.0/19,CT-GUANGZHOU-IDC CHINANET Guangdong province n...
25,dot-sdnada.ru,1,2019-09-06 14:06:13.950997,dot-sdnada.ru,dot-sdnada,23.95.236.172,36352,23.95.224.0/20,"AS-COLOCROSSING - ColoCrossing, US",ns1.goriskins.com,goriskins.com,None,None,None,None
26,beauty-corner.fr,1,2019-09-06 14:06:15.053166,beauty-corner.fr,beauty-corner,81.88.48.95,39729,81.88.48.0/20,"REGISTER-AS, IT",ns2.amenworld.com,amenworld.com,81.88.63.40,39729,81.88.48.0/20,"REGISTER-AS, IT"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
485,dispatch-tp.fr,1,2019-09-06 14:16:22.220402,dispatch-tp.fr,dispatch-tp,213.186.33.17,16276,213.186.32.0/19,"OVH, FR",dns105.ovh.net,ovh.net,213.251.188.149,16276,213.251.128.0/18,"OVH, FR"
488,jppost-tu.top,1,2019-09-06 14:16:22.887067,jppost-tu.top,jppost-tu,193.148.69.37,44220,193.148.68.0/22,"PARFUMURI-FEMEI-AS, RO",ns2.bdydns.cn,bdydns.cn,119.75.222.53,38365,119.75.222.0/23,CNNIC-BAIDU-AP Beijing Baidu Netcom Science an...
489,area.id-it-lwebdll.ga,1,2019-09-06 14:16:23.887184,id-it-lwebdll.ga,id-it-lwebdll,None,None,None,None,ns01.freenom.com,freenom.com,54.171.131.39,16509,54.171.0.0/16,"AMAZON-02 - Amazon.com, Inc., US"
492,support-client32.gq,1,2019-09-06 14:16:32.986176,support-client32.gq,support-client32,23.254.225.40,54290,23.254.224.0/21,"HOSTWINDS - Hostwinds LLC., US",ns01.freenom.com,freenom.com,54.171.131.39,16509,54.171.0.0/16,"AMAZON-02 - Amazon.com, Inc., US"
498,business-org.com,1,2019-09-06 14:16:34.592555,business-org.com,business-org,89.41.173.139,41011,89.41.173.0/24,"CH-NET-AS, RO",ns27.domaincontrol.com,domaincontrol.com,97.74.103.14,26496,97.74.102.0/23,"AS-26496-GO-DADDY-COM-LLC - GoDaddy.com, LLC, US"

In [16]:
feature_dummies = ['ns_base_domain', 'ns_as_subnet', 'ns_as_name']
X = pd.get_dummies(input_df[feature_dummies])
features = list(X.columns)

In [17]:
pd.DataFrame(0, index=X.index, columns=[])

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[500 rows x 0 columns]

In [131]:
zeros_df = pd.DataFrame(0, index=range(len(X)), columns=['a'] + features)

In [132]:
Y = X.add(zeros_df, fill_value=0)

In [135]:
Y['ns_base_domain_24livehost.com'][0]

0

temp_df

In [4]:
# input_df.to_csv('db_backup.csv', index=False)

In [37]:
df_zeros = X_ns_model * 0

In [44]:
X = X_ns_model[:10][X.columns[:3]]

In [51]:
# X.loc[5]['ns_base_domain_42.pl'] = 1

,ns_base_domain_24livehost.com,ns_base_domain_42.pl,ns_base_domain_a2dns.com
0,0,0,0
1,0,0,0
2,0,0,0
3,0,0,0
4,0,0,0
5,0,1,0
6,0,0,0
7,0,0,0
8,0,0,0
9,0,0,0

In [76]:
temp_df.loc[3]['ns_base_domain_42.pl'] = 1

In [86]:
temp_df = pd.DataFrame(0, index=range(10), columns=['a', 'b', 'c', 'ns_base_domain_42.pl'])

In [81]:
X

,ns_base_domain_24livehost.com,ns_base_domain_42.pl,ns_base_domain_a2dns.com
0,0,0,0
1,0,0,0
2,0,0,0
3,0,0,0
4,0,0,0
5,0,1,0
6,0,0,0
7,0,0,0
8,0,0,0
9,0,0,0

In [82]:
temp_df

   a  b  c  ns_base_domain_42.pl
0  0  0  1                     0
1  0  0  1                     0
2  0  0  1                     0
3  0  0  1                     1
4  0  0  1                     0
5  0  0  1                     0
6  0  0  1                     0
7  0  0  1                     0
8  0  0  1                     0
9  0  0  1                     0

In [83]:
X.add(temp_df)

,a,b,c,ns_base_domain_24livehost.com,ns_base_domain_42.pl,ns_base_domain_a2dns.com
0,NaN,NaN,NaN,NaN,0,NaN
1,NaN,NaN,NaN,NaN,0,NaN
2,NaN,NaN,NaN,NaN,0,NaN
3,NaN,NaN,NaN,NaN,1,NaN
4,NaN,NaN,NaN,NaN,0,NaN
5,NaN,NaN,NaN,NaN,1,NaN
6,NaN,NaN,NaN,NaN,0,NaN
7,NaN,NaN,NaN,NaN,0,NaN
8,NaN,NaN,NaN,NaN,0,NaN
9,NaN,NaN,NaN,NaN,0,NaN

In [ ]:
# len(input_df), len(input_df.columns)

In [18]:
# X = input_df.drop(columns=['label'])
X_ns_model = pd.get_dummies(input_df.drop(columns='label'))
y = input_df['label']
len(X_ns_model), len(X_ns_model.columns)

(500, 575)

In [34]:
import pandas as pd 
from sklearn.model_selection import train_test_split
from sqlalchemy import create_engine

MALICIOUS_QUERY_STR = f''' 
SELECT * 
FROM domains 
WHERE label = 1
AND base_domain NOT IN ('000webhostapp.com', 'azurewebsites.net') 
AND domain_name NOT LIKE '%%-%%' 
order by timestamp desc
LIMIT {1000} 
'''  

BENIGN_QUERY_STR = f''' 
SELECT * 
FROM domains 
WHERE label = 0
AND domain_name NOT LIKE '%%-%%' 
order by timestamp desc
LIMIT {1000} 
'''  

engine = create_engine('postgresql://postgres:mypassword@localhost:5432/')
X_malicious = pd.read_sql_query(MALICIOUS_QUERY_STR, engine)
X_benign = pd.read_sql_query(BENIGN_QUERY_STR, engine)
X = pd.concat([X_malicious, X_benign])
print(f'X_malicious: {len(X_malicious)}, X_benign: {len(X_benign)}, X: {len(X)}')

y = X['label']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
feature_dummies = ['ns_base_domain', 'ns_as_subnet', 'ns_as_name']

X_malicious: 1000, X_benign: 1000, X: 2000

In [42]:
from sklearn.tree import DecisionTreeClassifier
X_train_dummies = pd.get_dummies(X_train[feature_dummies])
features = list(X_train_dummies.columns)

clf = DecisionTreeClassifier()
clf.fit(X_train_dummies, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [43]:
X_test_dummies = pd.get_dummies(X_test[feature_dummies])
zeros_df = pd.DataFrame(0, index=X_test_dummies.index, columns=features)
X_test_dummies = X_test_dummies.add(zeros_df, fill_value=0)
X_test_dummies = X_test_dummies[X_test_dummies.columns & features]

In [57]:
clf.predict_proba(X_test_dummies).transpose()[1]

array([0.9701087, 0.9701087, 0.       , 1.       , 0.9701087, 0.9701087,
       0.       , 0.9701087, 0.9701087, 0.9701087, 0.9701087, 0.       ,
       0.       , 0.9701087, 0.9701087, 0.9701087, 0.9701087, 0.9701087,
       0.9701087, 0.       , 0.9701087, 0.9701087, 0.9701087, 0.       ,
       0.9701087, 0.9701087, 0.9701087, 0.9701087, 1.       , 0.9701087,
       0.       , 0.       , 0.9701087, 0.9701087, 0.9701087, 0.9701087,
       0.9701087, 0.9701087, 0.9701087, 0.9701087, 0.9701087, 0.9701087,
       0.9701087, 0.9701087, 0.9701087, 0.9701087, 0.9701087, 0.9701087,
       0.9701087, 0.       , 0.9701087, 0.9701087, 0.       , 0.9701087,
       0.       , 0.9701087, 0.9701087, 0.9701087, 0.9701087, 0.9701087,
       0.9701087, 0.9701087, 0.9701087, 0.9701087, 0.       , 0.9701087,
       0.9701087, 0.9701087, 0.9701087, 0.9701087, 0.9701087, 0.9701087,
       0.9701087, 0.9701087, 0.9701087, 0.9701087, 0.9701087, 0.9701087,
       0.9701087, 0.9701087, 0.9701087, 0.5      , 0.       , 0.9701087,
       0.9701087, 1.       , 0.9701087, 0.9701087, 0.9701087, 0.9701087,
       0.9701087, 0.9701087, 0.9701087, 0.9701087, 0.9701087, 0.9701087,
       0.9701087, 0.9701087, 0.       , 0.9701087, 0.9701087, 0.9701087,
       0.9701087, 0.       , 0.9701087, 0.9701087, 0.9701087, 0.9701087,
       0.9701087, 0.9701087, 0.9701087, 0.9701087, 0.9701087, 0.9701087,
       0.       , 0.9701087, 0.9701087, 0.       , 0.9701087, 0.9701087,
       0.9701087, 0.9701087, 0.9701087, 1.       , 0.9701087, 0.9701087,
       0.9701087, 0.9701087, 0.9701087, 0.9701087, 0.9701087, 0.9701087,
       0.       , 0.9701087, 0.       , 0.9701087, 0.9701087, 0.       ,
       0.9701087, 0.9701087, 0.       , 0.9701087, 1.       , 0.9701087,
       0.9701087, 0.9701087, 0.9701087, 0.9701087, 0.9701087, 0.9701087,
       0.9701087, 0.9701087, 0.9701087, 0.       , 0.9701087, 0.9701087,
       0.9701087, 0.9701087, 0.9701087, 0.9701087, 0.9701087, 0.       ,
       0.9701087, 0.9701087, 0.9701087, 0.9701087, 1.       , 0.9701087,
       0.9701087, 0.       , 0.9701087, 0.       , 0.       , 0.9701087,
       0.9701087, 0.9701087, 0.9701087, 0.9701087, 0.9701087, 0.9701087,
       0.9701087, 0.9701087, 0.9701087, 0.9701087, 0.       , 0.9701087,
       0.9701087, 0.9701087, 0.       , 1.       , 0.9701087, 0.9701087,
       0.       , 0.9701087, 0.9701087, 0.9701087, 0.       , 0.9701087,
       0.9701087, 1.       , 0.9701087, 0.9701087, 0.9701087, 0.9701087,
       0.9701087, 0.9701087, 0.       , 0.9701087, 0.9701087, 0.9701087,
       0.9701087, 0.9701087, 0.9701087, 0.9701087, 0.9701087, 0.9701087,
       0.       , 0.9701087, 0.9701087, 0.9701087, 0.9701087, 0.9701087,
       0.       , 0.       , 0.       , 0.9701087, 0.9701087, 0.9701087,
       0.9701087, 0.9701087, 0.9701087, 0.9701087, 1.       , 0.9701087,
       0.       , 0.9701087, 0.9701087, 0.9701087, 0.9701087, 0.       ,
       0.9701087, 0.       , 0.9701087, 0.       , 0.9701087, 0.9701087,
       0.9701087, 0.       , 0.       , 1.       , 0.9701087, 0.9701087,
       0.9701087, 0.9701087, 0.9701087, 0.9701087, 0.9701087, 0.9701087,
       0.9701087, 0.9701087, 0.9701087, 0.9701087, 0.9701087, 0.9701087,
       0.9701087, 0.9701087, 0.9701087, 0.9701087, 0.9701087, 0.9701087,
       0.9701087, 0.9701087, 0.9701087, 0.       , 0.9701087, 0.9701087,
       0.9701087, 0.9701087, 0.9701087, 0.9701087, 0.       , 0.9701087,
       0.9701087, 0.9701087, 0.9701087, 0.9701087, 0.9701087, 0.9701087,
       0.9701087, 0.9701087, 0.9701087, 0.9701087, 0.9701087, 0.       ,
       0.9701087, 0.9701087, 0.9701087, 0.9701087, 0.       , 0.9701087,
       0.9701087, 0.9701087, 0.9701087, 0.9701087, 0.       , 0.9701087,
       0.9701087, 0.9701087, 0.9701087, 0.9701087, 0.9701087, 0.9701087,
       0.       , 0.9701087, 0.9701087, 0.9701087, 0.9701087, 0.9701087,
       0.       , 0.9701087, 0.       , 0.9701087, 0.9701087, 0.9701087,
       0.       , 0.       , 0.       , 0.9701087, 0.9701087, 0.       ,
       0.9701087, 1.       , 0.9701087, 0.9701087, 0.9701087, 0.9701087,
       0.9701087, 0.9701087, 0.       , 0.9701087, 0.9701087, 0.9701087,
       0.9701087, 0.9701087, 0.9701087, 0.9701087, 0.9701087, 0.9701087,
       0.9701087, 0.9701087, 0.9701087, 0.9701087, 0.9701087, 0.9701087,
       0.9701087, 0.9701087, 0.9701087, 0.9701087, 0.9701087, 0.       ,
       0.9701087, 0.9701087, 0.9701087, 0.9701087, 0.9701087, 0.9701087,
       0.9701087, 0.9701087, 1.       , 0.9701087, 0.       , 0.9701087,
       0.9701087, 0.       , 0.9701087, 0.9701087, 0.       , 0.9701087,
       0.9701087, 0.       , 0.9701087, 0.9701087, 0.9701087, 1.       ,
       0.9701087, 0.9701087, 0.9701087, 0.       , 0.9701087, 0.9701087,
       0.       , 0.9701087, 0.9701087, 0.9701087, 0.9701087, 0.9701087,
       1.       , 1.       , 0.9701087, 0.9701087])

In [32]:
clf.fit(X_train_dummies, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [35]:
clf.predict(X_test_dummies)

ValueError: Number of features of the model must match the input. Model n_features is 1311 and input n_features is 415

In [24]:
type(clf).__name__

'DecisionTreeClassifier'

In [138]:
X_train, X_test, y_train, y_test = train_test_split(X_ns_model, y, test_size=0.2, random_state=42)

In [140]:
%%time
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.colors import ListedColormap
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.datasets import make_moons, make_circles, make_classification
from sklearn.neural_network import MLPClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.gaussian_process import GaussianProcessClassifier
from sklearn.gaussian_process.kernels import RBF
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.discriminant_analysis import QuadraticDiscriminantAnalysis

h = .02  # step size in the mesh

names = [
#          "Linear SVM", "RBF SVM",
    "Decision Tree max_depth 4",
    "Decision Tree max_depth 8",
    "Decision Tree max_depth 16",
    "Decision Tree max_depth 32",
    "Decision Tree max_depth 64",
    "Decision Tree max_depth 128",
    "Decision Tree default",
    "AdaBoost",
    "Gaussian Naive Bayes", 
]

classifiers = [
#     SVC(kernel="linear", C=0.025),
#     SVC(gamma=2, C=1),
    DecisionTreeClassifier(max_depth=4),
    DecisionTreeClassifier(max_depth=8),
    DecisionTreeClassifier(max_depth=16),
    DecisionTreeClassifier(max_depth=32),
    DecisionTreeClassifier(max_depth=64),
    DecisionTreeClassifier(max_depth=128),
    DecisionTreeClassifier(),
#     RandomForestClassifier(max_depth=5, n_estimators=10, max_features=128),
#     MLPClassifier(alpha=1, max_iter=1000),
    AdaBoostClassifier(),
    GaussianNB()
]
#     QuadraticDiscriminantAnalysis()]


# datasets = [(X_ns_model[X_ns_model.columns.to_series().sample(8192)], y)]
datasets = [(X_ns_model, y)]

# figure = plt.figure(figsize=(9, 9))
i = 1
# iterate over datasets
for ds_cnt, ds in enumerate(datasets):
    # preprocess dataset, split into training and test part
    X, y = ds
#     X = StandardScaler().fit_transform(X)
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.4, random_state=42)

    # iterate over classifiers
    for name, clf in zip(names, classifiers):
        clf.fit(X_train, y_train)
        score = clf.score(X_test, y_test)
        print (name, score)

Decision Tree max_depth 4 0.995
Decision Tree max_depth 8 0.995
Decision Tree max_depth 16 0.995
Decision Tree max_depth 32 0.995
Decision Tree max_depth 64 0.995
Decision Tree max_depth 128 0.995
Decision Tree default 0.995
AdaBoost 0.995
Gaussian Naive Bayes 0.995
CPU times: user 31.2 ms, sys: 0 ns, total: 31.2 ms
Wall time: 34.6 ms

In [22]:
for name, tree in zip(names[:7], classifiers[:7]):
    print (name, tree.get_depth())

Decision Tree max_depth 4 4
Decision Tree max_depth 8 8
Decision Tree max_depth 16 16
Decision Tree max_depth 32 32
Decision Tree max_depth 64 64
Decision Tree max_depth 128 128
Decision Tree default 1991

In [37]:
for name, clf in zip(names, classifiers):
    y_pred = clf.predict(X_test)
    acc = round(accuracy_score(y_test, y_pred), 2)
    recall = round(recall_score(y_test, y_pred), 2)
    prec = round(accuracy_score(y_test, y_pred), 2)
    print (name, acc, recall, prec)

Decision Tree max_depth 4 0.67 0.91 0.67
Decision Tree max_depth 8 0.73 0.9 0.73
Decision Tree max_depth 16 0.76 0.9 0.76
Decision Tree max_depth 32 0.78 0.88 0.78
Decision Tree max_depth 64 0.81 0.87 0.81
Decision Tree max_depth 128 0.82 0.86 0.82
Decision Tree default 0.85 0.84 0.85
AdaBoost 0.78 0.87 0.78
Gaussian Naive Bayes 0.79 0.95 0.79

In [23]:
cm = confusion_matrix(y_test, y_pred_a)
cm_norm = cm.astype('float') / cm.sum(axis=1)[:, np.newaxis]

NameError: name 'y_pred_a' is not defined

In [ ]:
print (cm)
print (cm_norm)
print (accuracy_score(y_test, y_pred_a))
print (recall_score(y_test, y_pred_a))
print (precision_score(y_test, y_pred_a))

In [ ]:
plot_confusion_matrix(y_test[:1000], y_pred_a, ['Benign', 'Malicious'])

In [ ]:
def plot_confusion_matrix(y_true, y_pred, classes,
                          normalize=False,
                          title=None,
                          cmap=plt.cm.Blues):
    """
    This function prints and plots the confusion matrix.
    Normalization can be applied by setting `normalize=True`.
    """
    if not title:
        if normalize:
            title = 'Normalized confusion matrix'
        else:
            title = 'Confusion matrix, without normalization'

    # Compute confusion matrix
    cm = confusion_matrix(y_true, y_pred)
    # Only use the labels that appear in the data
#     classes = classes[unique_labels(y_true, y_pred)]
    if normalize:
        cm = cm.astype('float') / cm.sum(axis=1)[:, np.newaxis]
        print("Normalized confusion matrix")
    else:
        print('Confusion matrix, without normalization')
        
        fig, ax = plt.subplots()
    im = ax.imshow(cm, interpolation='nearest', cmap=cmap)
    ax.figure.colorbar(im, ax=ax)
    # We want to show all ticks...
    ax.set(xticks=np.arange(cm.shape[1]),
           yticks=np.arange(cm.shape[0]),
           # ... and label them with the respective list entries
           xticklabels=classes, yticklabels=classes,
           title=title,
           ylabel='True label',
           xlabel='Predicted label')

    # Rotate the tick labels and set their alignment.
    plt.setp(ax.get_xticklabels(), rotation=45, ha="right",
             rotation_mode="anchor")

    # Loop over data dimensions and create text annotations.
    fmt = '.2f' if normalize else 'd'
    thresh = cm.max() / 2.
    for i in range(cm.shape[0]):
        for j in range(cm.shape[1]):
            ax.text(j, i, format(cm[i, j], fmt),
                    ha="center", va="center",
                    color="white" if cm[i, j] > thresh else "black")
    fig.tight_layout()
    return ax

In [ ]:
%%time
for row in X_test.T.to_dict().values():
    print(f'{row["domain"]}: {sna.predict(row)}, {row["label"]}')

In [ ]:
G = nx.Graph()

In [ ]:
G.add_edge('a', 'b')
G.add_edge('a', 'e')
G.add_edge('a', 'c')
G.add_edge('c', 'b')
G.add_edge('c', 'd')

In [ ]:
labels = nx.draw_networkx(G, pos=nx.spring_layout(G), font_size=10, node_size=50)

In [ ]:
I = nx.ego_graph(G, 'a', radius=1, center=True)
labels = nx.draw_networkx(I, pos=nx.spring_layout(I), font_size=10, node_size=50)

In [ ]:
X_test.head(5).apply(sna.predict, axis=1)