In [136]:
import pandas as pd
import tldextract
from sqlalchemy import create_engine
import pickle
import networkx as nx
%matplotlib notebook
import matplotlib.pyplot as plt
import matplotlib
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, precision_score, recall_score
import numpy as np
from sklearn.utils.multiclass import unique_labels

In [110]:
query_string = '''
    SELECT ns_base_domain, ns_as_subnet, ns_as_name, label
    FROM domains
    WHERE base_domain NOT IN ('000webhostapp.com', 'azurewebsites.net', 'duckdns.org')
    LIMIT 500
'''

engine = create_engine('postgresql://postgres:mypassword@localhost:5432/')
input_df = pd.read_sql_query(query_string, engine)

In [120]:
feature_dummies = ['ns_base_domain', 'ns_as_subnet', 'ns_as_name']
X = pd.get_dummies(input_df[feature_dummies])
features = list(X.columns)

In [127]:
X['ns_base_domain_24livehost.com'][1] = 1

In [131]:
zeros_df = pd.DataFrame(0, index=range(len(X)), columns=['a'] + features)

In [132]:
Y = X.add(zeros_df, fill_value=0)

In [135]:
Y['ns_base_domain_24livehost.com'][0]

0

temp_df

In [4]:
# input_df.to_csv('db_backup.csv', index=False)

In [37]:
df_zeros = X_ns_model * 0

In [44]:
X = X_ns_model[:10][X.columns[:3]]

In [51]:
# X.loc[5]['ns_base_domain_42.pl'] = 1

,ns_base_domain_24livehost.com,ns_base_domain_42.pl,ns_base_domain_a2dns.com
0,0,0,0
1,0,0,0
2,0,0,0
3,0,0,0
4,0,0,0
5,0,1,0
6,0,0,0
7,0,0,0
8,0,0,0
9,0,0,0

In [76]:
temp_df.loc[3]['ns_base_domain_42.pl'] = 1

In [86]:
temp_df = pd.DataFrame(0, index=range(10), columns=['a', 'b', 'c', 'ns_base_domain_42.pl'])

In [81]:
X

,ns_base_domain_24livehost.com,ns_base_domain_42.pl,ns_base_domain_a2dns.com
0,0,0,0
1,0,0,0
2,0,0,0
3,0,0,0
4,0,0,0
5,0,1,0
6,0,0,0
7,0,0,0
8,0,0,0
9,0,0,0

In [82]:
temp_df

   a  b  c  ns_base_domain_42.pl
0  0  0  1                     0
1  0  0  1                     0
2  0  0  1                     0
3  0  0  1                     1
4  0  0  1                     0
5  0  0  1                     0
6  0  0  1                     0
7  0  0  1                     0
8  0  0  1                     0
9  0  0  1                     0

In [83]:
X.add(temp_df)

,a,b,c,ns_base_domain_24livehost.com,ns_base_domain_42.pl,ns_base_domain_a2dns.com
0,NaN,NaN,NaN,NaN,0,NaN
1,NaN,NaN,NaN,NaN,0,NaN
2,NaN,NaN,NaN,NaN,0,NaN
3,NaN,NaN,NaN,NaN,1,NaN
4,NaN,NaN,NaN,NaN,0,NaN
5,NaN,NaN,NaN,NaN,1,NaN
6,NaN,NaN,NaN,NaN,0,NaN
7,NaN,NaN,NaN,NaN,0,NaN
8,NaN,NaN,NaN,NaN,0,NaN
9,NaN,NaN,NaN,NaN,0,NaN

In [ ]:
# len(input_df), len(input_df.columns)

In [137]:
# X = input_df.drop(columns=['label'])
X_ns_model = pd.get_dummies(input_df.drop(columns='label'))
y = input_df['label']
len(X_ns_model), len(X_ns_model.columns)

(500, 575)

In [18]:
from sklearn.tree import DecisionTreeClassifier

In [141]:
clf = DecisionTreeClassifier()

In [142]:
clf.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [144]:
clf.predict(X_test)

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1])

In [24]:
type(clf).__name__

'DecisionTreeClassifier'

In [138]:
X_train, X_test, y_train, y_test = train_test_split(X_ns_model, y, test_size=0.2, random_state=42)

In [140]:
%%time
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.colors import ListedColormap
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.datasets import make_moons, make_circles, make_classification
from sklearn.neural_network import MLPClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.gaussian_process import GaussianProcessClassifier
from sklearn.gaussian_process.kernels import RBF
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.discriminant_analysis import QuadraticDiscriminantAnalysis

h = .02  # step size in the mesh

names = [
#          "Linear SVM", "RBF SVM",
    "Decision Tree max_depth 4",
    "Decision Tree max_depth 8",
    "Decision Tree max_depth 16",
    "Decision Tree max_depth 32",
    "Decision Tree max_depth 64",
    "Decision Tree max_depth 128",
    "Decision Tree default",
    "AdaBoost",
    "Gaussian Naive Bayes", 
]

classifiers = [
#     SVC(kernel="linear", C=0.025),
#     SVC(gamma=2, C=1),
    DecisionTreeClassifier(max_depth=4),
    DecisionTreeClassifier(max_depth=8),
    DecisionTreeClassifier(max_depth=16),
    DecisionTreeClassifier(max_depth=32),
    DecisionTreeClassifier(max_depth=64),
    DecisionTreeClassifier(max_depth=128),
    DecisionTreeClassifier(),
#     RandomForestClassifier(max_depth=5, n_estimators=10, max_features=128),
#     MLPClassifier(alpha=1, max_iter=1000),
    AdaBoostClassifier(),
    GaussianNB()
]
#     QuadraticDiscriminantAnalysis()]


# datasets = [(X_ns_model[X_ns_model.columns.to_series().sample(8192)], y)]
datasets = [(X_ns_model, y)]

# figure = plt.figure(figsize=(9, 9))
i = 1
# iterate over datasets
for ds_cnt, ds in enumerate(datasets):
    # preprocess dataset, split into training and test part
    X, y = ds
#     X = StandardScaler().fit_transform(X)
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.4, random_state=42)

    # iterate over classifiers
    for name, clf in zip(names, classifiers):
        clf.fit(X_train, y_train)
        score = clf.score(X_test, y_test)
        print (name, score)

Decision Tree max_depth 4 0.995
Decision Tree max_depth 8 0.995
Decision Tree max_depth 16 0.995
Decision Tree max_depth 32 0.995
Decision Tree max_depth 64 0.995
Decision Tree max_depth 128 0.995
Decision Tree default 0.995
AdaBoost 0.995
Gaussian Naive Bayes 0.995
CPU times: user 31.2 ms, sys: 0 ns, total: 31.2 ms
Wall time: 34.6 ms

In [22]:
for name, tree in zip(names[:7], classifiers[:7]):
    print (name, tree.get_depth())

Decision Tree max_depth 4 4
Decision Tree max_depth 8 8
Decision Tree max_depth 16 16
Decision Tree max_depth 32 32
Decision Tree max_depth 64 64
Decision Tree max_depth 128 128
Decision Tree default 1991

In [37]:
for name, clf in zip(names, classifiers):
    y_pred = clf.predict(X_test)
    acc = round(accuracy_score(y_test, y_pred), 2)
    recall = round(recall_score(y_test, y_pred), 2)
    prec = round(accuracy_score(y_test, y_pred), 2)
    print (name, acc, recall, prec)

Decision Tree max_depth 4 0.67 0.91 0.67
Decision Tree max_depth 8 0.73 0.9 0.73
Decision Tree max_depth 16 0.76 0.9 0.76
Decision Tree max_depth 32 0.78 0.88 0.78
Decision Tree max_depth 64 0.81 0.87 0.81
Decision Tree max_depth 128 0.82 0.86 0.82
Decision Tree default 0.85 0.84 0.85
AdaBoost 0.78 0.87 0.78
Gaussian Naive Bayes 0.79 0.95 0.79

In [23]:
cm = confusion_matrix(y_test, y_pred_a)
cm_norm = cm.astype('float') / cm.sum(axis=1)[:, np.newaxis]

NameError: name 'y_pred_a' is not defined

In [ ]:
print (cm)
print (cm_norm)
print (accuracy_score(y_test, y_pred_a))
print (recall_score(y_test, y_pred_a))
print (precision_score(y_test, y_pred_a))

In [ ]:
plot_confusion_matrix(y_test[:1000], y_pred_a, ['Benign', 'Malicious'])

In [ ]:
def plot_confusion_matrix(y_true, y_pred, classes,
                          normalize=False,
                          title=None,
                          cmap=plt.cm.Blues):
    """
    This function prints and plots the confusion matrix.
    Normalization can be applied by setting `normalize=True`.
    """
    if not title:
        if normalize:
            title = 'Normalized confusion matrix'
        else:
            title = 'Confusion matrix, without normalization'

    # Compute confusion matrix
    cm = confusion_matrix(y_true, y_pred)
    # Only use the labels that appear in the data
#     classes = classes[unique_labels(y_true, y_pred)]
    if normalize:
        cm = cm.astype('float') / cm.sum(axis=1)[:, np.newaxis]
        print("Normalized confusion matrix")
    else:
        print('Confusion matrix, without normalization')
        
        fig, ax = plt.subplots()
    im = ax.imshow(cm, interpolation='nearest', cmap=cmap)
    ax.figure.colorbar(im, ax=ax)
    # We want to show all ticks...
    ax.set(xticks=np.arange(cm.shape[1]),
           yticks=np.arange(cm.shape[0]),
           # ... and label them with the respective list entries
           xticklabels=classes, yticklabels=classes,
           title=title,
           ylabel='True label',
           xlabel='Predicted label')

    # Rotate the tick labels and set their alignment.
    plt.setp(ax.get_xticklabels(), rotation=45, ha="right",
             rotation_mode="anchor")

    # Loop over data dimensions and create text annotations.
    fmt = '.2f' if normalize else 'd'
    thresh = cm.max() / 2.
    for i in range(cm.shape[0]):
        for j in range(cm.shape[1]):
            ax.text(j, i, format(cm[i, j], fmt),
                    ha="center", va="center",
                    color="white" if cm[i, j] > thresh else "black")
    fig.tight_layout()
    return ax

In [ ]:
%%time
for row in X_test.T.to_dict().values():
    print(f'{row["domain"]}: {sna.predict(row)}, {row["label"]}')

In [ ]:
G = nx.Graph()

In [ ]:
G.add_edge('a', 'b')
G.add_edge('a', 'e')
G.add_edge('a', 'c')
G.add_edge('c', 'b')
G.add_edge('c', 'd')

In [ ]:
labels = nx.draw_networkx(G, pos=nx.spring_layout(G), font_size=10, node_size=50)

In [ ]:
I = nx.ego_graph(G, 'a', radius=1, center=True)
labels = nx.draw_networkx(I, pos=nx.spring_layout(I), font_size=10, node_size=50)

In [ ]:
X_test.head(5).apply(sna.predict, axis=1)